<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'nurseEdit.css' %}">  
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/c51f852900.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Enfermero</title>
</head>
<body>
  <header></header>

  <div class="loginFormm">
      <form class="loginForm" method="post">
          {% csrf_token %}
          <div class="header">
              <a href="{% url 'listar_enfermeros' %}" class="btnn">⬅</a>
              <h2>Editar Enfermero</h2>
          </div>
          
          <div class="input-container">
              <i class="fas fa-user"></i>
              {{ user_form.username }}
          </div>
          <div class="input-container">
              <i class="fas fa-envelope"></i>
              {{ user_form.email }}
          </div>
          <div class="input-container">
              <i class="fas fa-lock"></i>
              {{ user_form.password1 }}
          </div>
          <div class="input-container">
              <i class="fas fa-lock"></i>
              {{ user_form.password2 }}
          </div>
          <div class="input-container">
              <i class="fas fa-phone"></i>
              {{ user_form.telefono }}
          </div>
          <div class="input-container">
              <i class="fas fa-id-badge"></i>
              <select name="{{ user_form.tipo_usuario.name }}" class="custom-select">
                  <option value="enfermero" selected>Enfermero</option>
              </select>
          </div>            
          <div class="input-container">
              <i class="fas fa-user-tag"></i>
              {{ enfermero_form.nombre }}
          </div>
          <div class="input-container">
              <i class="fas fa-user-tag"></i>
              {{ enfermero_form.apellidos }}
          </div>
          <div class="input-container">
              <i class="fas fa-id-card"></i>
              {{ enfermero_form.nfc_id }}
          </div>
          <div class="input-container">
            <i class="fas fa-clock"></i>
            <select name="{{ enfermero_form.turno.name }}" class="custom-select" id="{{ enfermero_form.turno.id_for_label }}">
                <option value="Matutino">Matutino</option>
                <option value="Vespertino">Vespertino</option>
                <option value="Nocturno">Nocturno</option>
            </select>
        </div>
          <button type="submit">Guardar cambios</button>
      </form>
  </div>
  <br>
</body>
</html>
