<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Enfermeros</title>
</head>
<body>
    <h2>Lista de Enfermeros</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Turno</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for enfermero in enfermeros %}
          <tr>
            <td>{{ enfermero.nombre }} {{ enfermero.apellidos }}</td>
            <td>{{ enfermero.turno }}</td>
            <td>{{ enfermero.telefono_cel }}</td>
            <td>
              <a href="{% url 'editar_enfermero' enfermero.pk %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'eliminar_enfermero' enfermero.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'crear_enfermero' %}" class="btn btn-success">Crear Nuevo Enfermero</a>
</body>
</html>
