<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'adminDashboard.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Bienvenido</h1>
        </header>

        <div class="options-container">
            <div class="button-group">
                <a href="{% url 'listar_administradores' %}" class="option-link">Listar Administradores</a>
                <a href="{% url 'listar_enfermeros' %}" class="option-link">Listar Enfermeros</a>
            </div>
        </div>
    </div>
</body>
</html>
