<!-- admin_select_dashboard.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selección de Dashboard</title>
</head>
<body>
    <h1>Bienvenido, Admin</h1>
    <p>Elige una opción:</p>
    
    <ul>
        <li><a href="{% url 'listar_administradores' %}">Listar Administradores</a></li>
        <li><a href="{% url 'listar_enfermeros' %}">Listar Enfermeros</a></li>
    </ul>
</body>
</html>
