<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnwect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>PillStation</title>
</head>
<body>
  <section class="sectione">
    <header>
      <div class="left">
        <h2>PillStation</h2>
        <div class="nav-buttons">
          <button onclick="window.location.href='{% url 'home' %}'">Sobre nosotros</button>
          <button onclick="window.location.href='{% url 'home' %}'">Nuestros servicios</button>
        </div>
      </div>
      <div class="right">
        <button class="login" onclick="window.location.href='{% url 'login' %}'">Iniciar sesión</button>
      </div>
    </header>
    <div class="main">
      <div class="leftmain">
        <div class="info">
          <h1>Innovación en la Gestión de Medicamentos</h1>
          <br>
          <h2>En PillStation, revolucionamos la administración de medicamentos en hospitales con soluciones tecnológicas avanzadas. Nuestro enfoque combina hardware especializado con software de gestión médica de vanguardia, optimizando la seguridad, precisión y eficiencia en la dispensación de fármacos.</h2>
        </div>
      </div>
      <div class="rightmain">
        <img class="medicine" src="/static/img/26923482755.png" alt="">
        
      </div>
    </div>


  </section>
  <Section class="sectiontwo">
    <div class="leftoo">
      <img class="medicinee" src="/static/img/92429533091.png" alt="">
    </div>
    <div class="rightoo">
      <div class="infoo">
        <h1>Tecnología que Transforma la Salud</h1>
        <br>
        <h2>Desde nuestra fundación en 2025 en Chihuahua, México, hemos trabajado de la mano con médicos, enfermeros y administradores hospitalarios para desarrollar un sistema que se adapta a sus necesidades diarias. Nuestra plataforma integra IoT y automatización, asegurando procesos fluidos y reduciendo errores de medicación.</h2>
      </div>
    </div>
    <table class="tabla">
      <tr>
        <td>Innovador</td>
        <td>Confiable</td>
        <td>Eficiente</td>
      </tr>
    </table>
  </Section>

</body>
</html>