<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnwect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>PillStation</title>
</head>
<body>
  <section class="sectione">
    <header>
      <h2>PillStation</h2>
      <div class="nav-buttons">
        <button onclick="window.location.href='{% url 'home' %}'">Sobre nosotros</button>
        <button onclick="window.location.href='{% url 'home' %}'">Nuestros servicios</button>
        <button class="login" onclick="window.location.href='{% url 'login' %}'">Iniciar sesión</button>
      </div>
    </header>
    <div class="main">
    <div class="info">
      <h1>Revolucionando la Gestión de Medicamentos</h1>
      <br>
      <h2>Innovación Tecnológica para el Sector Salud</h2>
    </div>
    <img class="medicine" src="/static/img/home1.jpg" alt="">
    </div>
  </section>
  <Section class="sectiontwo">
    <div>bfiaika</div>

  </Section>

</body>
</html>