<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    {% include 'header.html' with home_icon="fas fa-home" login_icon="fas fa-sign-in-alt" %}
    <div class="cajita">
        <h2>Registrate</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
