<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'adminDelete.css' %}">  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Administrador</title>
</head>
<body>
    <div class="loginFormm">
        <div class="loginForm">
            <form method="POST">
                <div class="header">
                    <a href="{% url 'listar_administradores' %}" class="btnn">⬅</a>
                    <h2>Eliminar Administrador</h2>
                </div>
                {% csrf_token %}
                <h3>¿Seguro que deseas eliminar al administrador <strong>{{ administrador.usuario.username }}</strong>?</h3>
                <div class="button-container">
                    <button type="submit">Eliminar</button>
                    <a href="{% url 'listar_administradores' %}" class="login">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
