<!-- templates/admin/delete.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Administrador</title>
</head>
<body>
    <h1>Eliminar Administrador</h1>
    <p>¿Estás seguro de que quieres eliminar al administrador {{ administrador.usuario.username }}?</p>
    <form method="POST">
        {% csrf_token %}
        <p>¿Seguro que deseas eliminar al administrador {{ administrador.usuario.username }}?</p>
        <button type="submit">Eliminar</button>
        <a href="{% url 'listar_administradores' %}">Cancelar</a>
    </form>    
    <br>
    <a href="{% url 'listar_administradores' %}">Volver al listado de administradores</a>
</body>
</html>
