*{
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  margin: 0rem;
}

body {
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: overlay;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(37, 49, 55) 50%, rgb(23, 38, 45) 50%);
}

h2{
  color: white;
  font-weight: lighter;
}

.btnn {
  text-decoration: none;
  font-weight: lighter;
  color: white;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.2s;
}

.btnn:hover {
  transform: scale(1.2);
}

h2{
  color: white;
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease, transform 0.2s;
}

a:hover{
  transform: scale(1.05);
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.482);
  padding: 2rem;
  height: fit-content;
  width: 500px; /* Tamaño adecuado */
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


form h2{
  display: block;
  font-size: 2em;
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: lighter;
  margin-top: 0%;
  margin-bottom: 45px;
}

button {
  width: 50%;
  padding: 10px;
  background: #ffffff;
  border: none;
  color: rgb(23, 38, 45);
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s;
}

button:hover {
  background: rgb(23, 38, 45);
  transform: scale(1.05);
  color: white;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  box-sizing: border-box;
  width: 100%;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}

.login{
  border: 1px solid white;
  border-radius: 0px;
  padding: 10px 20px;
  background-color:  rgb(23, 38, 45);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-family: "League Spartan", sans-serif;
  font-weight: normal;
}

.login:hover{
  transform: scale(1.05);
}

.input-container, .input-container2 {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.350);
  border-radius: 25px;
  margin-bottom: 20px;
  width: 70%;
  gap: 10px;
  text-align: start;
  height: 50px;
}

.input-container2 {
  text-align: end;
}

.input-container i, .input-container2 i   {
  color: rgb(23, 38, 45);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container input, .input-container2 input {
  border: none;
  background: transparent;
  outline: none;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 1rem;
  box-shadow: transparent !important;
  background: transparent !important;
}

input::placeholder {
  color: white;
}

input {
  all: unset;
  background: none;
  color: white;
}

input:-internal-autofill-selected { 
  appearance: menulist-button; 
  background-image: none !important;
  color: fieldtext !important; 
}


input {
  background-color: transparent;
  outline: none;
}
  
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow:transparent !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra los elementos en el contenedor */
  gap: 10px; /* Espacio entre la flecha y el título */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.header h2 {
  margin: 0;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.number-input {
  width: 100px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  -moz-appearance: textfield; /* Oculta las flechas en Firefox */
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input:focus {
  border-color: #007bff;
}

.custom-select {
  width: 70%;
  font-size: 16px;
  font-family: inherit; /* Heredar la fuente del contenedor principal */
  color: #ffffff; /* Puedes cambiar este color si deseas otro color de texto */
  background-color: transparent; /* Fondo transparente */
  border: none;
  border-radius: 20px;
  outline: none;
}

.custom-select:focus {
  border-color: #007bff;
}

.custom-select option {
  background-color: #fff; /* Fondo blanco para las opciones */
}