* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  width: 100%;
  height: 12vh;
  box-sizing: border-box;
}

.nav-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-right: 20px;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-family: "League Spartan", sans-serif;
  font-weight: lighter;
}

button {
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  background-color: white;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  font-family: "League Spartan", sans-serif;
  font-weight: normal;
}

.login{
  border: black;
  border: 1px solid #000;
  border-radius: 0%;

  
}

button:hover {
  background-color: #3a444b; /* Azul */
  color: white;
  transform: scale(1.05);
}

.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  margin-top: 1%;
}

.medicine{
  width: 50%;
  border-radius: 0% 0% 0% 20%;
}

.info{
  width: 45%;
}

.sectione{
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}